In [2]:
import pandas as pd
import numpy as np
import re
import glob

Dammit Excel! Well, I now know that my first task is to clean up the files and get them into a working format. It appears as if there is a lot of superfluous information... someone was trying to impress a date with their excel talent. Let's create a function `make_df()` that will take a parameter to read in a sheet from my `orig_data` directory, extract the headers and apply those to the pertinent data. This is more complicated that what it sounds as they have taken the headers and split them among two rows. Fortunately they were consistent in their pattern so this function should work for the majority of the excel files that we will be working with.

In [25]:
def make_df(sheet): 
    head_col = []
    
    file = pd.read_excel(sheet,header=None) # read in the file 
    head_col.extend(file.loc[3][0:2]) # extract the first two column headers and append it to a list
    file2 = pd.read_excel(sheet,header=None,skiprows=list(range(0,4))) # read in the file again as these rows weren't read in the first time, this time taking out the original rows
    head_col.extend(file2.loc[0][2:]) # append those to a list
    
    x = [y.replace('\n', '_') for y in head_col] # find all instances of \n in the file and replace with _
    z = [y.replace(' ', '_') for y in x ] # find all blanks and replace
    header_col = [x.lower() for x in z] # change the header column to lowercase
    
    fin_file = pd.read_excel(sheet,skiprows=list(range(0,7)),header=None) # read in the final file format
    fin_file.columns = header_col # attach the header column
    return fin_file

In [26]:
sheets = glob.glob('orig_data/*')
df = make_df(sheets[0])
df

,offense_category,total_victims1,10_and_under,11−15,16−20,21−25,26−30,31−35,36−40,41−45,46−50,51−55,56−60,61−65,66_and_over,unknown_age
0,Assault Offenses,1165909,41370,70960,131488,182801,157046,134489,103978,93937,81082,63908,40306,21419,24837,18288
1,Homicide Offenses,3854,243,56,417,632,472,401,324,280,263,206,166,118,221,55
2,Human Trafficking Offenses,57,0,19,27,4,2,1,2,0,1,0,0,0,0,1
3,Kidnapping/Abduction,15552,1810,1070,2135,2760,2230,1792,1087,847,662,399,255,144,210,151
4,Sex Offenses,70928,18731,17985,11890,6393,4279,3202,2135,1745,1490,1017,535,303,639,584
5,"Sex Offenses, Nonforcible",5484,715,3783,864,35,18,10,11,7,4,7,1,1,3,25
6,Crimes Against Property,2770816,9172,29432,168102,313010,296920,280929,244772,248560,249127,238436,204616,154622,280975,52143
7,Arson,10614,253,133,365,809,901,965,891,924,997,1006,814,590,1046,920
8,Bribery,222,2,7,22,21,45,27,21,17,16,7,5,3,4,25
9,Burglary/Breaking & Entering,447058,1669,2399,19496,45909,46353,45528,39720,39752,40719,40554,35699,28183,53629,7448
10,Counterfeiting/Forgery,36126,88,55,1206,2638,2836,2800,2610,2858,3064,3509,3194,2707,6608,1953
11,Destruction/Damage/Vandalism,579916,1108,1729,32328,67586,62308,59307,53066,55080,54949,51589,43769,32466,53938,10693
12,Embezzlement,3864,7,13,130,195,265,305,357,406,372,409,335,256,666,148
13,Extortion/Blackmail,1745,8,90,195,209,165,149,132,140,171,138,98,88,138,24
14,Fraud Offenses,247032,668,680,11427,22230,21555,21988,20479,22023,22972,23095,21224,17252,36132,5307
15,Larceny/Theft Offenses,1175569,4285,20457,83447,136951,128687,120805,103314,103617,102778,97156,82487,61694,111254,18637
16,Motor Vehicle Theft,162068,242,113,6682,19326,20337,18441,16059,16144,15266,14135,11733,7999,12480,3111
17,Robbery,74862,680,3369,11256,14141,10323,7682,5497,4930,4687,4222,3171,1909,2437,558
18,Stolen Property Offenses,31740,162,387,1548,2995,3145,2932,2626,2669,3136,2616,2087,1475,2643,3319
19,1This table includes only data for individual ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN