In [14]:
import pandas as pd
import numpy as np
import re
import glob

Dammit Excel! Well, I now know that my first task is to clean up the files and get them into a working format. It appears as if there is a lot of superfluous information... someone was trying to impress a date with their excel talent. Let's create a function `make_df()` that will take a parameter to read in a sheet from my `orig_data` directory, extract the headers and apply those to the pertinent data. This is more complicated that what it sounds as they have taken the headers and split them among two rows. Fortunately they were consistent in their pattern so this function should work for the majority of the excel files that we will be working with.

In [15]:
def make_df(sheet): 
    head_col = []
    
    file = pd.read_excel(sheet,header=None) # read in the file 
    head_col.extend(file.loc[3][0:2]) # extract the first two column headers and append it to a list
    file2 = pd.read_excel(sheet,header=None,skiprows=list(range(0,4))) # read in the file again as these rows weren't read in the first time, this time taking out the original rows
    head_col.extend(file2.loc[0][2:]) # append those to a list
    
    x = [y.replace('\n', '_') for y in head_col] # find all instances of \n in the file and replace with _
    z = [y.replace(' ', '_') for y in x ] # find all blanks and replace
    header_col = [x.lower() for x in z] # change the header column to lowercase
    
    fin_file = pd.read_excel(sheet,skiprows=list(range(0,7)),header=None) # read in the final file format
    fin_file.columns = header_col # attach the header column
    return fin_file

In [18]:
sheets = glob.glob('orig_data/*')
df = make_df(sheets[3])
df

,offense_category,total_victims1,male,female,unknown
0,Assault Offenses,1165909,500233,657421,8255
1,Homicide Offenses,3854,2872,955,27
2,Human Trafficking Offenses,57,1,55,1
3,Kidnapping/Abduction,15552,3653,11849,50
4,Sex Offenses,70928,10821,59875,232
5,"Sex Offenses, Nonforcible",5484,590,4888,6
6,Crimes Against Property,2770816,1421947,1323445,25424
7,Arson,10614,5549,4369,696
8,Bribery,222,150,67,5
9,Burglary/Breaking & Entering,447058,237120,206557,3381
10,Counterfeiting/Forgery,36126,18052,17113,961
11,Destruction/Damage/Vandalism,579916,285596,289513,4807
12,Embezzlement,3864,2183,1632,49
13,Extortion/Blackmail,1745,932,806,7
14,Fraud Offenses,247032,110249,134129,2654
15,Larceny/Theft Offenses,1175569,600114,565835,9620
16,Motor Vehicle Theft,162068,95759,65098,1211
17,Robbery,74862,48932,25749,181
18,Stolen Property Offenses,31740,17311,12577,1852
19,1This table includes only data for individual ...,NaN,NaN,NaN,NaN

Looks like it didn't work for all tables. Seems as if there are some files that start with only 2 unnecessary columns. I will need to see if I can clean this up so that I don't have two functions doing the same thing.

In [19]:
def make_df(sheet): 
    head_col = []
    
    file = pd.read_excel(sheet,header=None) # read in the file 
    head_col.extend(file.loc[2][0:2]) # extract the first two column headers and append it to a list
    file2 = pd.read_excel(sheet,header=None,skiprows=list(range(0,3))) # read in the file again as these rows weren't read in the first time, this time taking out the original rows
    head_col.extend(file2.loc[0][2:]) # append those to a list
    
    x = [y.replace('\n', '_') for y in head_col] # find all instances of \n in the file and replace with _
    z = [y.replace(' ', '_') for y in x ] # find all blanks and replace
    header_col = [x.lower() for x in z] # change the header column to lowercase
    
    fin_file = pd.read_excel(sheet,skiprows=list(range(0,7)),header=None) # read in the final file format
    fin_file.columns = header_col # attach the header column
    return fin_file

In [21]:
df = make_df(sheets[1])
df

,offense_category,total_victims1,family_member2,family_member_and_other3,known_to_victim_and_other4,stranger,all_other5
0,Homicide Offenses,3427,602,46,1317,391,1071
1,Human Trafficking Offenses,57,0,0,28,24,5
2,Kidnapping/Abduction,14894,3226,179,7969,1631,1889
3,Sex Offenses,66567,17770,607,35497,4911,7782
4,"Sex Offenses, Nonforcible",5191,1066,52,3624,95,354
5,Crimes Against Property,64357,569,170,12431,27370,23817
6,Robbery,64357,569,170,12431,27370,23817
7,1The relationship of a victim to an offender i...,NaN,NaN,NaN,NaN,NaN,NaN
8,"2Victims were related to all offenders, whethe...",NaN,NaN,NaN,NaN,NaN,NaN
9,3Victims were related to at least one of the m...,NaN,NaN,NaN,NaN,NaN,NaN
10,"4Victims knew, but were not related to, one or...",NaN,NaN,NaN,NaN,NaN,NaN
11,5Victims were mutual combatants (victim was of...,NaN,NaN,NaN,NaN,NaN,NaN